<div id="<%= dom_id user %>">






  <p>
    <strong>Lgt:</strong>
    <%= user.lgt %>
  </p>

  <p>
    <strong>Lnt:</strong>
    <%= user.lnt %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Src:</strong>
    <%= user.src %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

</div>
